
# Local Development
NODE_ENV=development
VITE_API_URL=https://localhost
DB_HOST=postgres_container
DB_PORT=5432
DB_NAME=certcheck
DB_USER=postgres
DB_PASSWORD=7622

# Celery - Use SSH tunnel to Valkey
CELERY_BROKER_URL=rediss://celery-admin:Celery_admin_12345@host.docker.internal:6379/0?ssl_cert_reqs=required&ssl_ca_certs=/etc/ssl/certs/aws-global-bundle.pem&ssl_check_hostname=false
CELERY_RESULT_BACKEND=rediss://celery-admin:Celery_admin_12345@host.docker.internal:6379/0?ssl_cert_reqs=required&ssl_ca_certs=/etc/ssl/certs/aws-global-bundle.pem&ssl_check_hostname=false

# AWS - Use dev credentials

AWS_ACCESS_KEY=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
BUCKET_NAME=certcheck-users
# WebSocket for Playwright
WS_ENDPOINT=wss://brd-customer-hl_241b1c92-zone-cscs_bd_browser_api-country-gb:ldt9c6wx9ir8@brd.superproxy.io:9222

# SSH Tunnel for Valkey
SSH_HOST=ec2-54-159-160-253.compute-1.amazonaws.com
SSH_USER=ubuntu
SSH_KEY_PATH=/Users/arqivus1/Desktop/Arq_CC/certcheck/Conf_det/t2-xlarge-certcheck.pem
